body{
    margin: 0px;
    box-sizing: border-box;
    
 }
 .bl1{
     display: flex;
     justify-content: center;
     background-color: black;
     width: 100%;
     height: 20rem;
 }
 .bl1 > #HBimg{
     opacity: 1 ;
     display: flex;
     align-self: center;
     width:98.2%;
     height: 18.6rem;
    box-shadow:wheat 2px 2px 2px 2px;
 }

 #block1-contents , #block2-contents{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
 }

 #block1-contents > div , #block2-contents > div{
     margin-bottom: 2rem;
     cursor: pointer;   
     display: flex;
     flex-wrap: wrap;
     flex-direction:column;

 }

 #block1-contents > div>img , #block2-contents > div>img{
    transition: all .2s ease-in-out;
 }

 #block1-contents > div>img:hover ,#block2-contents > div>img:hover{
     transform: scale(1.1);
     opacity: 0.6;
   
 }

 #more-contents{
     background-color:#343a40 !important;
     color:whitesmoke;
     display: flex;
     justify-content:center;
     cursor:pointer;
     padding: 4px 0px 4px 0px;
 }


  
 .btn-group > button{
     padding-right: 2rem;
     padding-left: 2rem;
     margin-right: 2rem;

 }

 .dropdown-item:hover{
     background-color: #2980b9;

 }