<!DOCTYPE html>
<html>
<head>
	<title>Clown TV</title>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'stylesheets/home.css') }}">
	<script type="text/javascript">
		var imgs = ['../static/images/bg-01.jpg', '../static/images/b2.jpeg', 'black'];
        var index = 0;
        setInterval(function(){
            if(index == imgs.length)
            {
                index = 0;
            }
            document.getElementById('HBimg').src = imgs[index];
            index++;
        },3000);




    </script>
    

    <style>
        body{
           margin: 0px;
           box-sizing: border-box;
        }
        .bl1{
            display: flex;
            justify-content: center;
            background-color: black;
            width: 100%;
            height: 20rem;
        }
        .bl1 > #HBimg{
            opacity: 1 ;
            display: flex;
            align-self: center;
            width:90%;
            height: 17rem;
            margin-top: 5rem;
        }

    </style>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/icons/favicon.ico')}}"/>


	 <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd81c4ab1e.js" crossorigin="anonymous"></script>
  

    <!--meta tags-->
    <meta name="viewport " content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
     <div class = 'bl1'>
         <img id="HBimg" src="../static/images/bg-01.jpg"> 
     </div>
</body>
</html>